$primary-text-color: navajowhite;

.App {
  text-align: center;
  background-color: #1A2137;
  width: 100vw;
  height: 100vh;
}

.todoCompleted {
  color: #23e632;
  text-decoration: line-through;
}

.loginEmailValidator {
  color: red;
  font-weight: bold;
}

.successfulReg{
  color: #63d911;
  font-weight: bold;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0.47);
  color: wheat;
}

.loginWrapper {
  color: $primary-text-color
}

.registerWrapper {
  color: $primary-text-color
}

.todoList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerContainer {
  position: relative;
  color: white;
  text-align: center;
}
.headerImg {
  max-width: 60vw;
}
.headerImg::after {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: linear-gradient(to right, rgb(0, 19, 159), rgb(30, 42, 108));;
}

.inputField {
  margin: auto;
  width: 50%;
  max-width: 300px;
}

.buttons {
  color: white;
  font-size: large;
  font-weight: bold;
}


.myButton {
  background-color: blue;
  border: none;
  border-radius: 10px;
  justify-content: space-evenly;
  padding: 5px 10px;
  margin: 10px;
}
.myButton:hover {
  cursor: pointer;
}